@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

.inter {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.thin {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.svg-bcg {
    background-image: url("assets/bcg-svg.svg");
}

html{
    background-color: rgb(40, 40, 40);
}